In [1]:
import pandas as pd
import numpy as np

In [2]:
# read data into pandas dataframe
heart_health_df = pd.read_csv('resources/heart.csv')
heart_health_df.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
# rename columns for readability and consistency 
heart_health_df = heart_health_df.rename(columns={'cp': 'chest_pain', 'trtbps': 'resting_bp', 
                                                  'chol': 'cholesterol', 'fbs': 'fasting_glucose', 
                                                  'restecg': 'resting_ekg', 'thalachh': 'max_heart_rate', 
                                                  'exng': 'exercise_pain', 'slp': 'slope', 'caa': 'major_vessels', 
                                                  'output': 'heart_attack_chance'})
heart_health_df.head()

,age,sex,chest_pain,resting_bp,cholesterol,fasting_glucose,resting_ekg,max_heart_rate,exercise_pain,oldpeak,slope,major_vessels,thall,heart_attack_chance
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1